* {
    background-color: azure;
}

.index-title {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

.recipe-list {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 10px dotted black;
    box-sizing: border-box;
}
